@import "{{ site.theme }}";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
}

html {
    color: white;
}

header {
    top: 0;
    width: 100%;
    display: flex;
    position: fixed;
    padding: 5px;
    justify-items: center;
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.568);
    
}
header span {
  flex-grow: 1;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
}

header nav ul li {
  padding: 4px;
  list-style: none;
}

header a {
  text-decoration: none;
  padding: 4px;
  color: white
}

header a:hover {
  transition: .5s;
  color:aliceblue;
  background-color: black;
}
    
main {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

footer {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    font-size: 15px;
    box-shadow: 0px -8px 16px rgba(255, 255, 255, 0.568);
}

footer span {
  padding: 4px;
  flex-grow: 1;
}
footer nav ul {
  display: flex;
  flex-direction: row;
}

footer nav ul li {
  list-style: none;
  padding: 5px;
}

footer a {
  text-decoration: none;
  color:white;
}

footer a:hover {
  transition: .5s;
  color: yellow;
  background-color: black;
}
