
/* ////////////////////////////////////////////////////////////// */
/* /////////////////////////  Settings  ///////////////////////// */
/* ////////////////////////////////////////////////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {

  font-family: 'Anek Telugu', sans-serif;
  background-color: #333;
}

#container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}


/* ////////////////////////////////////////////////////////////// */
/* //////////////////////////  Header  ////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
#header {
  top: 0;
  width: 100vw;
  position: fixed;
}

nav ul.header-bar {
  display: flex;
  background-color: #333;
}

nav ul.header-bar span {
  flex-grow: 1;
}

nav ul li {
  display: inline-block;
  position: relative;
  padding: 4px
}

nav ul li a {
  display: block;
  padding: 2px;
  color: #fffdfd;
  text-decoration: none;
}

nav ul li a:hover {
  color: #fff;
  background: #939393;
}


/* ////////////////////////////////////////////////////////////// */
/* ///////////////////////////  Body  /////////////////////////// */
/* ////////////////////////////////////////////////////////////// */

#body {
  color: aliceblue;
  margin-top: 40px;
  padding-bottom: 20px;
  text-align: justify;
  /* text-indent: 2re; */
  size: 16px;
  flex: 1;
}

/* ////////////////////////////////////////////////////////////// */
/* //////////////////////////  Footer  ////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
#footer {
  /* top: 40px; */
  bottom: 0;
  /* position: relative; */
  /* width: 100vw; */
  /* height: 50px; */
}

footer nav {
  /* position: relative; */
  border-top:  1px solid whitesmoke;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  box-shadow: 0px -8px 8px rgba(255, 255, 255, 0.568);
}

footer nav ul li {
  display: flex;
  justify-content: space-evenly;
  font-size: 10px;
  color: aliceblue;
  align-items: center;
}

footer nav ul li span {
  flex-shrink: 1;
}



/* ////////////////////////////////////////////////////////////// */
/* ////////////  Small Screens  //////////  Dropdown  /////////// */
/* ////////////////////////////////////////////////////////////// */
@media screen and (max-width: 700px) {
  nav {
    /* height: 26.5px; */
    background-color: #333;
  }
  #body {
    margin-top: 80px;
  }
  nav ul.header-bar {  
    margin: 0;
    padding: 0;
    width: 0%;
    height: 0%;
    display: inline-block;
    position: relative;
  }
  
  nav ul.header-bar ul {
    background-color: #202020;
  }
  nav ul.header-bar li > a {
    color: bisque;
    text-decoration: none;
  }
  
  nav ul.header-bar li a:hover {
    color: #fff;
    background: #939393;
  }
  
  nav ul li ul.header-dropdown {
    display: none;
    z-index: 999;
    padding: 0;
  }

  nav ul li ul.header-dropdown li.header-items {
    width: 120px;
  }
  
  nav ul:hover ul.header-dropdown {
    display: block;
  }
}
