@import url(fonts.css);

main {
    
    /* height: 100vh; */
}

/* .content { height: 0vh; } */
p.Lipsum  {
    font-family: 'MedievalSharp';
    font-size: 1.25rem;
    color: rgb(218, 54, 54);
    text-align: justify;
    text-indent: 40px;
    padding: 7px;
}
  
.lol, .Lipsum  {
    font-family: 'MedievalSharp';
    text-align: center;
    color: yellow;
    font-size: 4rem;
    margin-bottom: 0.25em;
}
  